{% extends 'base.html' %}
{% block content %}

<h2>New Post:</h2>
<form method='POST'>
    <div>
    <label>
        Title:
        <input type="text" name='title' value='{{post_title}}' />
    </label>
    <p class='error'>{{title_error}}</p>
    </div>
    <div>
    <label>
        <textarea rows="4" cols="50" name='body' value='{{post_body}}'>
            Type your post here!
        </textarea>
    </label>
    <p class='error'>{{body_error}}</p>
    </div>
    <div>
    <input type='submit' value='Make Post' />
    </div>
</form>

{% endblock %}