html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    color: darkgreen
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.error { 
    color: red ;
    font-style: italic;
}